<h3 style="margin-bottom: 30px; margin-top: 30px;">Line of business app</h3>

<table class="table table-bordered">
    <tr class="active">
        <th><button ng-click="vm.imageToggle()">{{ vm.imageShowed ? "Hide" : "Show" }} Image</button></th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>Tags</th>
    </tr>
    <tr ng-repeat="product in vm.products">
        <td><img ng-if="vm.imageShowed" height="50" width="50" class="img-rounded" ng-src="{{product.imageUrl}}"</td>
        <td><a ui-sref="productDetail({productId: product._id})">{{product.name}}</a></td>
        <td>{{product.code}}</td>
        <td>{{product.available | date}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.tags.join(', ')}}</td>
    </tr>

</table>